<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>Lapps Grid NLTK Tagger (Python) Example</display-name>

	<context-param>
		<param-name>servicesPath</param-name>
		<param-value>WEB-INF/serviceimpl</param-value>
	</context-param>

<!--
	<filter>
		<filter-name>ApplicationAuthenticator</filter-name>
		<filter-class>jp.go.nict.langrid.servlet.filter.auth.ApplicationAuthenticator</filter-class>
		<init-param>
			<param-name>parameterPrefix</param-name>
			<param-value>fromCoreNode.appAuth.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ApplicationAuthenticator</filter-name>
		<url-pattern>/services/*</url-pattern>
		<url-pattern>/pbServices/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SentinelAuthenticator</filter-name>
		<filter-class>jp.go.nict.langrid.servlet.filter.auth.SentinelAuthenticator</filter-class>
		<init-param>
			<param-name>ignorePattern</param-name>
			<param-value>(.*\?wsdl)|(.*/services$)</param-value>
		</init-param>
		<init-param>
			<param-name>realmName</param-name>
			<param-value>Service Grid Service Engine</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SentinelAuthenticator</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
-->

	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.axis.SGAxisServlet</servlet-class>
		<init-param>
			<param-name>wsddBeanNamespaceMappings</param-name>
			<param-value>
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProtobufRpcServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.protobufrpc.servlet.ProtoBufRpcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProtobufRpcServlet</servlet-name>
		<url-pattern>/pbServices/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JsonRpcServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.jsonrpc.servlet.JsonRpcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonRpcServlet</servlet-name>
		<url-pattern>/jsServices/*</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
